{# /template/view.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} View page {% endblock %}
{% block content %}
            {# {% for item in data %} #}
                {# {% if item.id ==  %} #}
                <article class='container h-100 mt-5'>
                    <h2 class='display-4 text-center pt-2 text-primary'>serJe n'arrive pas à récuperer les infos de mes contact par rapport au params id dans l'url</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </article>
                {# {% endif %} #}
            {# {% endfor %} #}
{% endblock %}